<h1>Simple Angular Web Calculator</h1>

<div class="CalcContainer">
  <h1 class="Total">{{total}} </h1>
  <div class="OpsButtonGrid">
    <mat-grid-list cols="4" rowHeight="50px">
      <mat-grid-tile >
        <button mat-raised-button >+</button>
      </mat-grid-tile>
      <mat-grid-tile >
        <button mat-raised-button>-</button>
      </mat-grid-tile>
      <mat-grid-tile >
        <button mat-raised-button>*</button>
      </mat-grid-tile>
      <mat-grid-tile >
        <button mat-raised-button>/</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="NumberButtonGrid">
    <mat-grid-list cols="3" rowHeight="50px" ratio gutterSize="10px" >
      <mat-grid-tile >
        <button mat-raised-button (click)="bttnClick($event)">7</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>8</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>9</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>4</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>5</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>6</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>1</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>2</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>3</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button>0</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
